@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
.center{
  margin-top: 0px;
  text-align: center;
}
.container2 {
  color: #2F2E33;
margin: auto;
  width: 1450px;
  height: 85%;
 box-shadow: 5px 5px 10px ;

	border-radius: 60px;
  background-color: #FFDDD3;
  border: 2px solid black;
}


.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
 padding: 0px;  
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}

.h233{
  width: 100%;
	padding: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-bottom: 5px;
}
.h23 {
  width: 100%;
	padding: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}
.h43 {	padding: 20px;
  font-weight: 600;
  width: 100%;
  font-size: 28px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}
.state{
	color: #228B22	;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #666;
}
.info{
	width: 100%;
	height: 150px;
}
.memberInfo{
	display: flex;
	border-radius: 10px;
  border-top: 2px solid black;
	justify-content: space-evenly;
}
.vl3 {
	border-left: 4px solid gray;
	height: 211px;
	
  }
  .secondInfo{
	 
	  display: flex; 
flex-direction: column ;
justify-content: flex-start;
align-items:flex-start;
width: 100%;
  }
  .right-div{
    width: 100%;
display: flex; 
flex-direction: column ;
justify-content: flex-start;
align-items:flex-start;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}