.navigationList{
    background: rgb(22,19,37);
    background: linear-gradient(180deg, rgba(22,19,37,1) 0%, rgba(48,48,48,1) 100%);
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 13vh;
}
.logoList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /*border: 2px solid black;*/
    width: 22vw;
    margin-left: 1vw;
    font-size: 2em;
}
#home-logo{
    width: 6vw;
    height: 6vh;
}
#home-title{
    margin-top: 2.5vh;
    font-weight: bold;
    color: rgb(192, 155, 85);
    text-shadow: 2px 2px 5px rgb(83, 62, 33);
}
.buttonList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5vh;
    width: 30vw;
    /*height: 12vh;*/
    margin-right: 1vw;
}
.sign-buttons{
    text-decoration: none;
    padding: 1em;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(22,19,37);
    background: linear-gradient(360deg, rgba(22,19,37,1) 0%, rgba(48,48,48,1) 58%);
    color: white;
}
.sign-buttons:hover{
    cursor: pointer;
}
.image-section{
    height: 87vh;
    background-image: url("./assets/gym-bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}
.headline{
    text-align: center;
    position: absolute;
    width: 80vw;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.headline-head{
    color: rgb(255, 255, 255);
    font-size: 3em;
}
.headline-text{
    color: white;
    font-size: 2em;
    line-height: 2em;
}
.headline-button{
    padding: 1em 0em;
    margin-top: 1%;
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid white;
    background: none;
    color: white;
}
.headline-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    /*background-color: white;*/
    color: black;
    border: 2px solid black;
    font-size: 1.2em;
}
.separator{
    height: 10vh;
    background-color: rgb(43, 43, 43);
}
.home-section{
    height: 80vh;
    background-color: rgb(43, 43, 43);
    /*padding-top: 10vh;*/
}
.home-exer{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0px auto;
}
.exer-text{
    margin-bottom: 15%;
}
.exer-head{
    color: white;
    font-size: 4em;
    margin-bottom: 10%;
}
.exer-decription{
    color: white;
    font-size: 2em;
    line-height: 1em;
}
.exer-img{
    width: 60vw;
    height: 60vh;
    border-radius: 20px;
    border: 3px solid black;
}
.home-footer{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 3vh 0px;
    background: rgb(22,19,37);
    background: linear-gradient(180deg, rgba(22,19,37,1) 0%, rgba(48,48,48,1) 100%);
}




/*************Animated Background CSS*******************/
/*
body {
  background: #fff;
}
*/
.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 80vh;
  min-width: 360px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  border-radius: 20px;
  border: 3px solid black;
  padding: 0px 2%;
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
/*************Animated Background CSS*******************/